* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Orbitron', 'Segoe UI', sans-serif;
  background: #0a0f1c;
  color: #e4e8ff;
  background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTAzL3Jhd3BpeGVsX29mZmljZV80NV9hYnN0cmFjdF9wYXJ0aWNsZV90ZWNobm9sb2d5X2JhY2tncm91bmRfY3liZV9lOTFhMTI0Ni0xOTRjLTRmYzAtYWI0Ni1kOGMxYmJkYTk2ZjVfMS5qcGc.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed; 
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  color: #e0f7ff;
}

.banner {
  background: rgba(0, 30, 60, 0.7);
  color: #001f2f;
  padding: 50px 20px;
  border-radius: 20px;
  border: 3px solid #00f0ff33;
  text-align: center;
  max-width: 600px;
  margin: 50px auto;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
}

.gif {
  width: 300px; 
  max-width: 80%;
  height: auto;
  border-radius: 15px;
}

h2 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #00f0ff;
}

h4 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #7ed1e6;
}


p {
  font-size: 15px;
  color: #d0f0ff;
  margin-bottom: 30px;
}

.buttons a{
  text-decoration: none;
  margin: 10px 15px;
  padding: 12px 25px;
  color: #0a0f1c;
  background: #00f0ff;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons a:hover {
  background: #0ac4e1;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

footer {
  position:fixed;
  bottom: 0;
  background-color:#001f2f;
  width: 100%;
  padding: 5px 0px;
  color: #ddd;
  text-align: center;
  font-size:15px;
}

@media (max-width: 768px) {
  h2 {
    font-size: 8vw;
  }
  h4 {
    font-size: 5vw;
  }
  p {
    font-size: 4vw;
  }
  .gif img {
    width: 70vw;
    max-width: 250px;
  }
  .banner {
    padding: 5% 3%;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 10vw;
  }
  h4 {
    font-size: 6vw;
  }
  p {
    font-size: 5vw;
  }
  .gif img {
    width: 80vw;
    max-width: 200px;
  }
  .buttons {
    width: 100%;
    flex-direction: column; 
    gap: 12px;
    align-items: center;
  }

  .buttons a {
    width: 80%;       
    max-width: 250px; 
    padding: 0.8rem 0;
    font-size: 1rem;
  }
}
